body
{
    
    height: 162vh;
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
    transition: 0.5s;
    font-family: helvetica;
}
.login-tab
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    position: relative;
    margin-top: 5vh;
    width: 70%;
    height: 80vh;
    
}
.blueBg
{
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.15);
}
.blueBg .box{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2
{
    font-size: 2em;
    color: #b54a7d;
}
.signinBtn
{
    height: 6vh;
    width: 8vw;
    font-size: 1em;
    background: #b54a7d;
    border: 0;
    color: white;
    border-radius: 3em;
    cursor: pointer;
}
.signupBtn
{
    height: 6vh;
    width: 8vw;
    font-size: 1em;
    background: #b54a7d;
    border: 0;
    color: white;
    border-radius: 3em;
    cursor: pointer;
}
.formbox
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: white;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.25);
    transition: 0.5s ease-in-out;
}
.formbox.active{
    left: 50%;
}
.formbox .signinForm{
    transition-delay: 0s;
}
.formbox .signupForm
{
    left: 100% !important;
    transition-delay: 0s !important;    
}
.formbox.active .signupForm
{
    left: 0 !important;
    transition-delay: 0s !important;
}
.formbox.active .signinForm
{
    left: -100%;
    transition-delay: 0s;
}
.formbox .form{
    position: absolute;
    left: 0;
    padding: 4vw;
    width: 100%;
    transition: 0.5s;
}
.formbox .form form
{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.in-txt
{
    width: 26vw;
    height: 7vh;
    margin-top: 3vh;
    padding: 1vw;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 5em;
    outline: none;
}
.loginBtn
{
    width: 26vw;
    height: 7vh;
    margin-top: 3vh;
    padding: 1vw;
    background: #b54a7d;
    font-size: 1em;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 5em;
}
h3{
    text-align: center;
    margin-left: -9vw;
}
.forgot
{
    text-decoration: none;
}
.forgot-txt
{
    text-align: center;
    margin-left: -9vw;
    color: #642b47;
}



.bottom{
    width: 100%;
    height: 36vh;
    background-color: #b54a7d;
    margin-top: 10vh;
    padding-top: 0.1vh;
}
.icon{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}
.svg-insta{
    color: white;
    width: 2.5vw;
}
.svg-insta1{
    color: white;
    width: 2.5vw;
    margin-left: 8vw;
}
.bottom .icon span
{
    color: white;
    font-size: 1.5em;
    font-family: helvetica;
    font-weight: 500;
}
.bottom .icon span:nth-child(2)
{
    margin-left: 6vw;
}
.bottom .icon span:nth-child(3)
{
    margin-left: 6vw;
}

.bottom .icon span:nth-child(4)
{
    margin-left: 6vw;
}
.copyright{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}
.bottom .copyright p{ 
    color: white;
}
